<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['student']">Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['department']">Department</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['classroom']">Classroom</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['time']">Time_slot</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['course']">Course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['instructor']">Instructor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['section']">Section</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['advisor']">Advisor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['takes']">Takes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['teaches']">Teaches</a>
    </li>
  </ul>
  
  <div>
    <router-outlet></router-outlet>
  </div>
  