
.carousel{
    
    
    .left{
        width: 50%;
        align-content: center;
        height: 45%;
       
    }
    .right
    {
        width: 50%;
        align-content:center;
        height: auto; 
    }
  
    

}